/* -------- GENERAL STYLES -------- */
:root {
  --text-color: #25546f;
  --button-color: #0062ff;
  --white-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Logo */
.logo img {
  width: 125px;
}

/* Menu toggle */
.menu-toggle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  cursor: pointer;
}

/* .menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -8px;
  top: -6px;
  opacity: 0;
  cursor: pointer;
} */

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background: var(--text-color);
  border-radius: 3px;
  transition: 0.5s;
}

/* -------- LANDING PAGE -------- */

/* Nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  padding: 1rem 1rem 0 1rem;
}

.nav-menu {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translateX(100%);
  background: var(--white-color);
  transition: 0.5s;
}

.nav-menu.slide {
  opacity: 1;
  transform: translateX(0);
}

.nav-menu ul li {
  padding-bottom: 1.25rem;
}

.nav-menu ul li a {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
}

.nav-menu ul li a:hover {
  text-decoration: underline;
}

.nav-menu span {
  border-radius: 18px;
  padding: 0.625rem 1.25rem;
  background: var(--button-color);
  transition: 0.5s;
}

.nav-menu span:hover {
  background: #044ec3;
}

.nav-menu span a {
  color: var(--white-color);
  font-size: 1rem;
}

/* Menu toggle */
.nav .menu-toggle span:nth-child(1) {
  transform-origin: 0 0;
}

.nav .menu-toggle span:nth-child(3) {
  transform-origin: 0 100%;
}

.span-child1 {
  transform: rotate(45deg) translate(-1px, -1px);
}

.span-child3 {
  transform: rotate(-45deg) translate(-1px, 0);
}

.span-child2 {
  transform: translateX(500%);
}

/* Header */
.header {
  height: auto;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--text-color);
}

.header-img img {
  display: none;
}

.text-header {
  max-width: 560px;
  margin: auto;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.text-header h1 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.text-header p {
  margin-bottom: 3.5rem;
  font-size: 1rem;
  color: rgba(37, 84, 111, 0.5);
}

.cta-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.cta-button a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--white-color);
  border-radius: 16px;
  padding: 0.625rem 1.25rem;
  background: var(--button-color);
  transition: 0.5s;
}

.cta-button a:hover {
  background: #044ec3;
}

.cta-button a:first-child {
  box-shadow: 6px 6px 48px rgba(0, 126, 229, 0.25);
}

.cta-button a:last-child {
  background: var(--white-color);
  color: var(--button-color);
  border: 1px solid var(--button-color);
}

.cta-button a:last-child:hover {
  color: var(--white-color);
  background: var(--button-color);
  border: 1px solid var(--button-color);
}

/* -------- DASHBOARD PAGE-------- */
.bg-left,
.bg-down {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  transition: 0.5s;
  z-index: -1;
}

.bg-show {
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Add icon */
.add-icon {
  width: 95px;
  position: fixed;
  bottom: -10px;
  right: 0;
}

.add-icon img {
  width: 100%;
  cursor: pointer;
}

.add-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transform: translateY(300%);
  transition: 0.5s;
  z-index: -1;
}

.add-container-show {
  transform: translateY(0);
  z-index: 2;
}

.add-container .add-modal {
  width: 100%;
  padding: 1.5rem 1.5rem 0 1.5rem;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background: var(--white-color);
}

.add-container .add-modal .add-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.add-container .add-modal .add-item a {
  font-size: 0.875rem;
  color: var(--text-color);
  margin-left: 1rem;
}

.add-container .add-modal .add-item:hover a {
  text-decoration: underline;
}

.add-container .add-modal .add-item:first-child {
  justify-content: space-around;
  max-width: 250px;
  border-radius: 24px;
  background: rgba(242, 249, 254, 1);
  cursor: pointer;
}

.add-container .add-modal .add-item:first-child a {
  font-size: 1rem;
  font-weight: 600;
}

.add-container .add-modal .add-item:first-child:hover a {
  text-decoration: none;
}

.add-container .add-modal .add-item:first-child img {
  width: 90px;
}

/* ----- Left Column ----- */
.col-left {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1.5rem;
  transform: translateX(-100%);
  background: var(--white-color);
  transition: 0.5s;
  z-index: 2;
}

.col-left-show {
  transform: translateX(0);
}

/* Logo */
.col-left .logo {
  margin: 0 auto 1.5rem auto;
}

/* Main menu */
.main-menu {
  width: 100%;
  max-width: 210px;
  margin-bottom: 1rem;
}

.menu-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  border-radius: 16px;
  padding: 0.625rem 2rem 0.625rem 1rem;
  margin-bottom: 0.5rem;
}

.menu-icon {
  display: flex;
  align-items: center;
}

.menu-link a {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text-color);
}

.menu-item:hover .menu-link a {
  text-decoration: underline;
}

.menu-item.active {
  background: var(--button-color);
}

.menu-item.active .menu-link a {
  color: var(--white-color);
}

.menu-item.active:hover .menu-link a {
  text-decoration: none;
}

/* Storage info */
.storage {
  margin-bottom: 2rem;
}

.storage p {
  color: rgba(37, 84, 111, 0.5);
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.storage span {
  font-weight: 600;
  color: rgba(37, 84, 111, 1);
}

.storage-info {
  width: 100%;
  height: 0.5rem;
  border-radius: 20px;
  background: rgba(233, 228, 255, 1);
  margin-top: 1rem;
  position: relative;
}

.storage-info .bar {
  position: absolute;
  width: 25%;
  height: 0.5rem;
  border-radius: 20px;
  background: var(--button-color);
}

/* Upgrade button */
.upgrade a {
  font-size: 0.875rem;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 50px;
  padding: 0.625rem 1rem 0.625rem 1rem;
  transition: 0.5s;
}

.upgrade a:hover {
  color: var(--white-color);
  background: var(--text-color);
}

/* ----- Middle Column ----- */
.col-middle {
  padding: 1rem 1.5rem;
}

.mid-col-title {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.mid-col-title a img {
  width: 22px;
}

/* Search box */
.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  border: 1px solid rgba(37, 84, 111, 0.08);
}

.search-icon {
  display: none;
}

.search-box .menu-toggle {
  height: 16px;
  margin-right: 1rem;
}

.search-box .menu-toggle span {
  width: 20px;
  height: 2px;
}

.search-box div:first-child {
  display: flex;
  align-items: center;
}

.search-box div:first-child ::placeholder {
  font-size: 0.875rem;
  color: #a6a7a6;
}

.search-box div:first-child input {
  outline: none;
  border: none;
  font-size: 0.875rem;
  color: var(--text-color);
}

.search-box .user-photo {
  display: flex;
}

.search-notif {
  display: none;
}

/* Category */
.category {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.category-items {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 500px;
}

.category-item {
  display: flex;
  flex-direction: column;
}

.category-item img {
  width: 45px;
  margin-bottom: 0.5rem;
}

.category-item p {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--text-color);
}

.category-item span {
  font-size: 0.75rem;
  font-weight: 400;
  color: rgba(37, 84, 111, 0.4);
}

/* Recent */
.recent-item {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
  border-radius: 10px;
}

.recent-item:first-child {
  background: rgba(0, 98, 255, 0.05);
}

.recent-item-detail {
  display: flex;
}

img.item-img {
  width: 40px;
  margin-right: 1rem;
  align-self: flex-start;
}

img.item-more {
  width: 22px;
}

.item-info p {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--text-color);
}

.item-info span {
  font-size: 0.75rem;
  font-weight: 400;
  color: rgba(37, 84, 111, 0.4);
}

.recent-btn {
  display: none;
}

/* Right Column */
.col-right {
  display: none;
}

/* MEDIA QUARIES */
@media (min-width: 560px) {
  /* -------- DASHBOARD PAGE -------- */

  /* Middle Column */
  .mid-col-title {
    font-size: 1rem;
  }

  /* Category */
  .category-items {
    justify-content: space-around;
  }

  .category .mid-col-title {
    margin-bottom: 2rem;
  }

  .category-item p {
    font-size: 0.875rem;
  }

  .category-item img {
    width: 55px;
  }

  /* Recent */
  .item-info p {
    font-size: 0.813rem;
  }

  .item-btn {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  a.recent-btn {
    display: flex;
    align-items: center;
    height: 36px;
    color: var(--text-color);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.138rem;
    padding: 0 0.75rem;
    border-radius: 8px;
    background: rgba(0, 98, 255, 0.15);
  }

  a.recent-btn img {
    width: 24px;
    margin-left: 0.625rem;
  }
}

@media (min-width: 768px) {
  /* -------- LANDING PAGE -------- */

  /* Nav */
  .nav {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }

  /* Add icon */
  .add-icon {
    display: none;
  }

  /* Upgrade button */
  .upgrade {
    display: none;
  }

  /* -------- DASHBOARD PAGE -------- */
  .container {
    display: flex;
  }

  /* Left Column */
  .col-left .logo {
    margin: 0 auto 2.5rem auto;
  }

  .main-menu {
    margin-bottom: 2rem;
  }

  /* Middle Column */
  .col-middle {
    width: calc(100% - 230px);
    padding: 1.5rem 2rem;
  }

  .search-box {
    border: none;
  }

  .search-box .user-photo {
    display: none;
  }

  .search-notif {
    display: inline-block;
  }

  .search-notif img {
    width: 24px;
    margin-left: 1.5rem;
  }

  /* Right Column */
  .col-right {
    width: 230px;
    display: block;
    padding-top: 1.5rem;
    padding-right: 2rem;
  }

  .user-account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.375rem 0.75rem;
    border: 2px solid rgba(37, 84, 111, 0.08);
    border-radius: 16px;
  }

  .user-info {
    display: flex;
    align-items: center;
  }

  .user-info img {
    width: 40px;
    margin-right: 1rem;
  }

  .user-info p {
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--text-color);
  }

  .add-section {
    margin-top: 1.5rem;
  }

  .add-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 24px;
    background: rgba(242, 249, 254, 1);
    cursor: pointer;
  }

  .add-button img {
    width: 75px;
  }

  .add-button a {
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--text-color);
  }

  .add-section .add-modal .add-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .add-section .add-modal .add-item a {
    font-size: 0.813rem;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 0.75rem;
  }

  .add-section .add-modal .add-item:hover a {
    text-decoration: underline;
  }

  /* Upgrade Account */
  .upgrade-account {
    padding: 1rem;
    margin-top: 1.5rem;
    border-radius: 24px;
    background: rgba(242, 249, 254, 1);
  }

  .upgrade-account img {
    width: 60px;
  }

  .upgrade-account p {
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--text-color);
    margin-top: 0.75rem;
  }

  .upgrade-account p:last-child {
    font-size: 0.813rem;
    font-weight: 500;
    line-height: 1.146rem;
    color: rgba(37, 84, 111, 0.5);
  }
}

@media (min-width: 992px) {
  /* -------- LANDING PAGE -------- */

  /* Nav */
  .nav .menu-toggle {
    display: none;
  }

  .nav-menu {
    width: auto;
    height: 50px;
    position: inherit;
    transform: translateX(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0;
    transition: none;
    opacity: 1;
  }

  .nav-menu ul li {
    padding-bottom: 0;
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 1.5rem;
  }

  /* Header */
  .header {
    height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    color: var(--text-color);
  }

  .text-header {
    max-width: 660px;
    margin: auto;
    text-align: left;
  }

  .text-header h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .text-header p {
    max-width: 560px;
    margin-bottom: 3.5rem;
    color: rgba(37, 84, 111, 0.5);
  }

  .cta-button {
    display: inline-block;
  }

  .cta-button a {
    margin-right: 1rem;
  }

  .header-img {
    position: relative;
  }

  .header-img img {
    width: 100%;
    max-width: 560px;
    display: block;
    position: absolute;
    right: 0;
  }

  /* -------- DASHBOARD PAGE -------- */

  /* Middle Column */
  .col-middle {
    width: calc(100% - 284px);
    padding: 1.5rem 2rem;
  }

  /* Right Column */
  .col-right {
    width: 284px;
    padding-top: 1.5rem;
    padding-right: 2rem;
  }

  .add-section .add-modal {
    position: relative;
    margin: 0 1rem;
    padding: 0 0.875rem 0.875rem 0.875rem;
  }

  .add-section .add-modal::after {
    content: "";
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 2px solid rgba(37, 84, 111, 0.08);
    border-radius: 16px;
    z-index: -1;
  }
}

@media (min-width: 1200px) {
  /* -------- LANDING PAGE -------- */
  .text-header h1 {
    font-size: 2.7rem;
  }

  /* -------- DASHBOARD PAGE -------- */
  .container {
    justify-content: flex-end;
  }

  /* Left Column */
  .col-left {
    transform: translateX(0);
  }

  .menu-link a {
    font-size: 1rem;
  }

  .storage p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  /* Middle Column */
  .col-middle {
    width: calc(100% - 284px - 250px);
    padding: 1.5rem 2rem;
  }

  .mid-col-title {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .mid-col-title a img {
    width: 22px;
  }

  /* Search */
  .search-box .menu-toggle {
    display: none;
  }

  .search-icon {
    display: block;
    width: 28px;
    margin-right: 1.719rem;
  }

  .search-box div:first-child ::placeholder {
    font-size: 1rem;
  }

  .search-box div:first-child input {
    font-size: 1rem;
  }

  /* Category */
  .category-items {
    max-width: 776px;
  }

  .category-item p {
    font-size: 1rem;
  }

  .category-item span {
    font-size: 0.875rem;
  }

  .item-info p {
    font-size: 0.875rem;
  }

  .item-info span {
    font-size: 0.813rem;
  }

  /* Recent */
  img.item-img {
    width: 45px;
  }

  /* Right Column */
  .user-account {
    padding: 0.625rem 1rem;
  }

  .user-info img {
    width: 50px;
  }

  .user-info p {
    font-size: 0.875rem;
  }

  .add-section {
    margin-top: 2rem;
  }

  .add-button {
    justify-content: space-around;
  }

  .add-button a {
    font-size: 1rem;
  }

  .add-section .add-modal .add-item a {
    font-size: 0.813rem;
  }

  .upgrade-account {
    padding: 1.25rem;
    margin-top: 2.5rem;
  }

  .upgrade-account img {
    width: 75px;
  }

  .upgrade-account p {
    font-size: 1rem;
  }

  .upgrade-account p:last-child {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
