:root {
  --text-color: #25546f;
  --button-color: #0062ff;
  --white-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* -------- NAVIGATION -------- */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: var(--text-color);
  padding: 1rem 1rem 0 1rem;
}

.nav .logo img {
  width: 125px;
}

.nav .nav-menu {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  padding-top: 7rem;
  text-align: center;
  background-color: var(--white-color);
  transform: translateX(100%);
  transition: 1s;
  opacity: 0;
}

.nav .nav-menu.slide {
  opacity: 1;
  transform: translateX(0);
}

.nav ul {
  padding-bottom: 0.75rem;
}

.nav ul li {
  padding-bottom: 1.25rem;
}

.nav ul li a {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
}

.nav ul li a:hover {
  text-decoration: underline;
}

.nav .nav-menu span {
  border-radius: 18px;
  padding: 0.625rem 1.25rem;
  background-color: var(--button-color);
  transition: 0.5s;
}

.nav .nav-menu span:hover {
  background-color: #044ec3;
}

.nav .nav-menu span a {
  color: var(--white-color);
  font-size: 1rem;
}

.nav .menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  position: relative;
}

.nav .menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -8px;
  top: -6px;
  opacity: 0;
  cursor: pointer;
  z-index: 5;
}

.nav .menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: var(--text-color);
  border-radius: 3px;
  transition: 0.5s;
}

.nav .menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.nav .menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.nav .menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}

.nav .menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}

.nav .menu-toggle input:checked ~ span:nth-child(3) {
  transform: translate(1000px, 0);
}

/* -------- HEADER -------- */
.header {
  height: calc(100vh - 60px);
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--text-color);
}

.header .text-header {
  max-width: 560px;
  margin: auto;
  padding-top: 7rem;
}

.header .text-header h1 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.header .text-header p {
  margin-bottom: 3.5rem;
  font-size: 1rem;
  color: rgba(37, 84, 111, 0.5);
}

.header .text-header .cta-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header .text-header .cta-button a {
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--button-color);
  color: var(--white-color);
  margin-right: 1.5rem;
  border-radius: 16px;
  padding: 0.625rem 1.25rem;
  margin-bottom: 1rem;
  transition: 0.5s;
}

.header .text-header .cta-button a:hover {
  background-color: #044ec3;
}

.header .text-header .cta-button a:last-child {
  background-color: var(--white-color);
  color: var(--button-color);
  border: 1px solid var(--button-color);
}

.header .text-header .cta-button a:last-child:hover {
  color: var(--white-color);
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
}

.header .header-img img {
  display: none;
}

/* MEDIA QUARIES */
@media (min-width: 768px) {
  .nav {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }
}

@media (min-width: 992px) {
  /* -------- NAVIGATION -------- */
  .nav .menu-toggle {
    display: none;
  }

  .nav .nav-menu {
    width: auto;
    height: 50px;
    position: inherit;
    transform: translateX(0);
    display: flex;
    align-items: center;
    padding-top: 0;
    transition: none;
    opacity: 1;
  }

  .nav .nav-menu ul li {
    padding-bottom: 0;
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 1.5rem;
  }

  /* -------- HEADER -------- */
  .header {
    height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    color: var(--text-color);
  }

  .header .text-header {
    max-width: 660px;
    margin: auto;
    padding-top: 0;
    text-align: left;
  }

  .header .text-header h1 {
    margin-bottom: 1.5rem;
    font-size: 3rem;
  }

  .header .text-header p {
    max-width: 560px;
    margin-bottom: 3.5rem;
    font-size: 1.25rem;
    color: rgba(37, 84, 111, 0.5);
  }

  .header .text-header .cta-button {
    display: inline-block;
  }

  .header .header-img {
    position: relative;
  }

  .header .header-img img {
    width: 100%;
    max-width: 560px;
    display: block;
    position: absolute;
    right: 0;
  }
}
